# Since .env is gitignored, you can use .env-example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

NODE_ENV=development

# Prisma
# The login details can be found at your Oracle Cloud Infrastructure page
DATABASE_URL=provider://username:password@hostname/dbname

# Next Auth
# Secret needs to be random bytes. Can be generated on Linux by `openssl rand -hex 32`
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Email Provider
EMAIL_SERVER=smtp://username:password@smtp.example.com:port
EMAIL_FROM=noreply@bleckhornen.org
