@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --corps-red: #ce0c00;
  --corps-white: #fafffc;
}

body {
  overflow-y: scroll;
}

svg.icon.icon-tabler {
  color: inherit;
  width: 20px;
  height: 20px;
}

h1 {
  font-size: 3rem !important;
  line-height: 4.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  line-height: 3.375rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

h6 {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 600;
}

::placeholder {
  font-weight: 350;
}

:focus-visible {
  @apply outline-none;
  box-shadow: 0 0 2px 1px var(--corps-red);
  transition: 0.1s;
}

.polka {
  background-image: radial-gradient(var(--corps-white) 30%, transparent 30%),
    radial-gradient(var(--corps-white) 30%, transparent 30%);
  background-position:
    0px 0px,
    25px 25px;
  background-size: 50px 50px;
  background-color: var(--corps-red);
}
