@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --corps-red: #ce0c00;
  --corps-white: #fafffc;
}

body {
  overflow-y: scroll;
}

svg.icon.icon-tabler {
  color: inherit;
  width: 20px;
  height: 20px;
}

h1 {
  font-size: 3rem !important;
  line-height: 4.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  line-height: 3.375rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

h6 {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 600;
}

::placeholder {
  font-weight: 350;
}

:focus-visible {
  @apply outline-none;
  box-shadow: 0 0 2px 1px var(--corps-red);
  transition: 0.1s;
}

.polka {
  background-image: radial-gradient(var(--corps-white) 30%, transparent 30%),
    radial-gradient(var(--corps-white) 30%, transparent 30%);
  background-position:
    0px 0px,
    25px 25px;
  background-size: 50px 50px;
  background-color: var(--corps-red);
}

@keyframes picker-wheel-idle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.picker-wheel-idle {
  animation: picker-wheel-idle 25s linear infinite;
}

/* For hiding the other language when the other is active: */
html.lang-en .lang-sv,
html.lang-sv .lang-en {
  display: none;
}

.slagverk {
  background-image: url('/imgs/drum-emoji.png');
}

.slagverk *:not(header):not(nav) {
  background-color: transparent;
}

@keyframes slagverk-animation {
  0% {
    background-image: url('/imgs/drum-emoji.png');
    background-size: 0% 0%;
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(2deg);
  }

  50% {
    background-size: 100% 100%;
  }

  75% {
    transform: rotate(-2deg);
  }

  100% {
    background-image: url('/imgs/drum-emoji.png');
    background-size: 0% 0%;
    transform: rotate(0deg);
  }
}

.slagverk *:not(header):not(nav):not(main) {
  background-position: center;
  background-repeat: no-repeat;
  animation-name: slagverk-animation;
  animation-duration: 5s;
}

/* For hiding arrows on number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.snowflake,
.snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 586;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  animation-name: snowflake-shake;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}

.snowflake .inner {
  animation-duration: 12s;
  animation-name: snowflake-fall;
  animation-timing-function: linear;
}

@keyframes snowflake-fall {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(110vh);
  }
}

@keyframes snowflake-shake {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(15vh);
  }
}

.snowflake:nth-of-type(0) {
  left: 4%;
  animation-delay: 0s;
}

.snowflake:nth-of-type(1) {
  left: 13%;
  animation-delay: 1.3s;
}

.snowflake:nth-of-type(2) {
  left: 25%;
  animation-delay: 0.5s;
}

.snowflake:nth-of-type(3) {
  left: 34%;
  animation-delay: 2.9s;
}

.snowflake:nth-of-type(4) {
  left: 50%;
  animation-delay: 3.1s;
}

.snowflake:nth-of-type(5) {
  left: 66%;
  animation-delay: 1.7s;
}

.snowflake:nth-of-type(6) {
  left: 76%;
  animation-delay: 0.4s;
}

.snowflake:nth-of-type(7) {
  left: 90%;
  animation-delay: 3.6s;
}

.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s;
}

.snowflake:nth-of-type(1) .inner {
  animation-delay: 6s;
}

.snowflake:nth-of-type(2) .inner {
  animation-delay: 5s;
}

.snowflake:nth-of-type(3) .inner {
  animation-delay: 9s;
}

.snowflake:nth-of-type(4) .inner {
  animation-delay: 1s;
}

.snowflake:nth-of-type(5) .inner {
  animation-delay: 7s;
}

.snowflake:nth-of-type(6) .inner {
  animation-delay: 4s;
}

.snowflake:nth-of-type(7) .inner {
  animation-delay: 6s;
}
