html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --corps-red: #ce0c00;
  --corps-white: #fafffc;
}

body {
  overflow-y: scroll;
}

@font-face {
  font-family: Castellar;
  src: url(../../public/fonts/castelar.ttf);
}

@font-face {
  font-family: Bahnschrift;
  src: url(../../public/fonts/bahnschrift.ttf);
}

@font-face {
  font-family: Haettenschweiler;
  src: url(../../public/fonts/hatten.ttf);
}
