.datebox {
  width: min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 3px #888888;
  border: 1px solid black;
  border-radius: 2px;
  margin: 3px
}

.datebox .date,
.datebox .day {
  text-align: center;
  padding: 1px 6px;
}

.datebox .date {
  color: white;
  background-color: var(--corps-red);
  font-weight: 500;
  font-size: 24px;
  font-family: Castellar, sans-serif;
}

.datebox .day {
  font-size: 16px;
  font-weight: 500;
  font-family: monospace, 'Arial Narrow Bold', sans-serif;
  color: black;
  background-color: lightgray;
}
