.datebox {
  width: min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 3px #888888;
  border: 1px solid black;
  border-radius: 2px;
  margin: 3px;
}

.datebox .date,
.datebox .day,
.datebox .month {
  text-align: center;
  padding: 1px 6px;
}

.datebox .datemonth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--corps-red);
  color: white;
  padding-left: 3px;
  padding-right: 3px;
}

.datebox .date {
  color: white;
  font-weight: 500;
  font-size: 32px;
  font-family: Castellar, sans-serif;
  margin-top: -12px;
  margin-bottom: -6px;
}

.datebox .month {
  font-size: 12px;
  font-weight: 00;
  font-family: monospace, 'Arial Narrow Bold', sans-serif;
}

.datebox .day {
  font-size: 16px;
  font-weight: 500;
  font-family: monospace, 'Arial Narrow Bold', sans-serif;
  color: black;
  background-color: lightgray;
}
